html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		title Chess: Bored Games
		link(rel='stylesheet' href='css/chess.css')
		link(rel='stylesheet' href='css/chessPieces.css')
		link(rel='stylesheet' href='css/style.css')
		script(type='text/javascript' src="/js/socket.io.js")
		script(type='text/javascript' src="/js/chessPieceMoves.js")
		script(type='text/javascript' src="/js/jquery.js")
		script(type='text/javascript' src='/js/chessPieceSelection.js')
		script.
			var socket = null
			var currentBoard = null
			var columns = ['a','b','c','d','e','f','g','h']
			var rows = ['8','7','6','5','4','3','2','1']
			var playerColour = 0

			$(document).ready(function(){
				playerColour = $('#playerColour')[0].value
				var origin = window.location.origin
				if(origin != "http://127.0.0.1:3000")
					origin = origin + ":8000"
				socket = io(window.location.origin)
				
				socket.on('connect', function(data){
					socket.emit('joinGame', { gameId: $("#username")[0].innerHTML})
				})
				socket.on('gamePieces', function (data) {
					if(currentBoard == null)
						currentBoard = data.pieces
					else if(currentBoard == data.pieces)
						return

					setTurnData(data.turn, data.practice, data.victor)
					animateDiff(currentBoard, data.pieces, function(){
						if(data.practice == 1)
							playerColour = data.turn

						generateField(data.pieces)

						if(data.turn == 0)
							$("#turn-piece").css("background-color", "red")
						else
							$("#turn-piece").css("background-color", "blue")

						if(data.turn == playerColour && data.victor == -1)
							$("#title-text")[0].innerHTML = "Chess! It is your turn</h1>"
						else if(data.victor == -1)
							$("#title-text")[0].innerHTML = "Chess! It is " + $('#opponentData')[0].value + "'s turn"
						else if(data.victor == playerColour)
							$("#title-text")[0].innerHTML = "Chess! You have won!!"
						else
							$("#title-text")[0].innerHTML = "Chess! " + $('#opponentData')[0].value + " has won!!"
					})					
				})
			})
			function submitMove(cFrom, cTo){
				console.log('saving game')
				socket.emit('saveGame', { game: $("#username")[0].innerHTML, from: cFrom, to: cTo})
			}

			function generateField(pieces){
				console.log('generating for ' + playerColour)
				var playField = document.getElementById("field");
				while (playField.firstChild) {
					playField.removeChild(playField.firstChild);
				}
				while ($("#lost-blue")[0].firstChild) {
					$("#lost-blue")[0].removeChild($("#lost-blue")[0].firstChild);
				}
				while ($("#lost-red")[0].firstChild) {
					$("#lost-red")[0].removeChild($("#lost-red")[0].firstChild);
				}

				var topRowInner = ""
				for(var i=0; i<columns.length; i++){
					if(playerColour == 0)
						topRowInner += "<td><h>" + columns[i] + "</h></td>"
					else
						topRowInner += "<td><h>" + columns[7-i] + "</h></td>"
				}
				var topRow = $("<tr class='topRow'><td>" + topRowInner + "</td></tr>")

				topRow.appendTo($("#field"))

				for(var i=0; i<rows.length; i++){
					var fieldRow = "<tr>"
					for(var j=-1; j<columns.length; j++){
						if(j == -1){
							fieldRow += "<td class='sideColumn'>"
							if(playerColour == 0)
								fieldRow += rows[i]
							else
								fieldRow += rows[7-i]
							continue
						}

						if(playerColour == 0)
							var cellname = columns[j] + rows[i]
						else
							var cellname = columns[7-j] + rows[7-i]

						if((i + j) % 2 == 0)
							fieldRow += "<td class='tile' id='" + cellname + "' style='background-color:white'>"
						else
							fieldRow += "<td class='tile' id='" + cellname + "' style='background-color:black'>"

						fieldRow += "<div id='" + cellname + "background' class='piece-background'></div></td>"
					}
					fieldRow += "</tr>"

					$(fieldRow).appendTo($("#field"))
				}
				
				placePieces(pieces)				
			}
			function placePieces(pieces){
				var lostCountBlue = 0
				var lostCountRed = 0

				for(var i=0; i<pieces.length; i++){

					if(pieces[i].location != "X0"){
						pieceString = "<div id='" + pieces[i].location + "piece' class='game-piece'>"

						if(pieces[i].colour == 0){
							pieceString += "<h class='first hidden' id='" + pieces[i].location + "name'>" + pieces[i].name + "</h><div class='piece-image "
							pieceString += getPieceImage(pieces[i].name, 0)
						}
						else{
							pieceString += "<h class='second hidden' id='" + pieces[i].location + "name'>" + pieces[i].name + "</h><div class='piece-image "
							pieceString += getPieceImage(pieces[i].name, 1)
						}

						pieceString += "'></div>"
						pieceString += "<h class='hidden' id='" + pieces[i].location + "colour'>" + pieces[i].colour + "</h></div>"

						$(pieceString).appendTo($("#"+pieces[i].location))
					}
					else{
						if(pieces[i].colour == 0){
							var pieceString = ""
							lostCountRed++

							if(lostCountRed % 4 == 1)
								pieceString += "<tr>"

							pieceString += "<td><div class='lost-piece'><h class='first hidden'>" + pieces[i].name + "</h><div class='piece-image " + getPieceImage(pieces[i].name, 0) + "'></div></div></td>"

							if(lostCountRed % 4 == 4)
								pieceSting += "</tr>"

							if($("#lost-red")[0].innerHTML == "")
								$("<tbody></tbody>").appendTo($("#lost-red"))

							if(lostCountRed % 4 == 1)
								$("#lost-red")[0].children[0].innerHTML += pieceString
							else
								$("#lost-red")[0].children[0].children[Math.floor((lostCountRed-1)/4)].innerHTML += pieceString
						}
						else{
							var pieceString = ""
							lostCountBlue++

							console.log(lostCountBlue)

							if(lostCountBlue % 4 == 1)
								pieceString += "<tr>"
							pieceString += "<td><div class='lost-piece'><h class='second hidden'>" + pieces[i].name + "</h><div class='piece-image " + getPieceImage(pieces[i].name, 1) + "'></div></div></td>"
							if(lostCountBlue % 4 == 4)
								pieceSting += "</tr>"

							if($("#lost-blue")[0].innerHTML == "")
								$("<tbody></tbody>").appendTo($("#lost-blue"))

							if(lostCountBlue % 4 == 1)
								$("#lost-blue")[0].children[0].innerHTML += pieceString
							else
								$("#lost-blue")[0].children[0].children[Math.floor((lostCountBlue-1)/4)].innerHTML += pieceString
						}
					}
				}

				completeTable("#lost-red")
				completeTable("#lost-blue")
				selectionCheck()
			}
			function getPieceImage(piece, colour){
				if(colour == 0){
					switch(piece){
						case "pawn":
							return "pawn-white"
						case "knight":
							return "knight-white"
						case "bishop":
							return "hat-guy-white"
						case "rook":
							return "rook-white"
						case "queen":
							return "queen-white"
						case "king":
							return "king-white"
					}
				}
				else{
					switch(piece){
						case "pawn":
							return "pawn-black"
						case "knight":
							return "knight-black"
						case "bishop":
							return "hat-guy-black"
						case "rook":
							return "rook-black"
						case "queen":
							return "queen-black"
						case "king":
							return "king-black"
					}
				}
			}
			function completeTable(table){
				if($(table)[0].childNodes.length < 1)
					$(table)[0].innerHTML = "<tbody></tbody>"

				var rows = $(table)[0].children[0].childNodes.length
				if(rows < 4){
					$("<tr></tr>").appendTo($(table)[0].children[0])
					completeTable(table)
				}
			}
			function animateDiff(oldPieces, newPieces, callback){
				currentBoard = newPieces

				if(oldPieces == newPieces)
					return callback()
				testPiece(oldPieces, newPieces, 0, callback)
			}
			function testPiece(oldPieces, newPieces, i, callback){
				if(i >= oldPieces.length)
					callback()
				var pieceO = oldPieces[i]
				var pieceN = newPieces[i]

				if(playerColour == 0){
					var rowO = ((8-pieceO.location[1]) * 50 + 25) + "px"
					var colO = (((columns.indexOf(pieceO.location[0])) * 50) + 25) + "px"
					var rowN = ((8-pieceN.location[1]) * 50 + 25) + "px"
					var colN = (((columns.indexOf(pieceN.location[0])) * 50) + 25) + "px"
				}
				else{
					var rowO = ((pieceO.location[1]-1) * 50 + 25) + "px"
					var colO = (((7-columns.indexOf(pieceO.location[0])) * 50) + 25) + "px"
					var rowN = ((pieceN.location[1]-1) * 50 + 25) + "px"
					var colN = (((7-columns.indexOf(pieceN.location[0])) * 50) + 25) + "px"
				}
				if(pieceO.location != pieceN.location){
					console.log(pieceO)
					console.log(pieceN)
					
					if(pieceN.location == "X0")
						testPiece(oldPieces, newPieces, i + 1, callback)
					else{
						var diffPiece = $($("#" + pieceO.location + "piece")[0].outerHTML)
						diffPiece[0].style.top = rowO
						diffPiece[0].style.left= colO
						diffPiece.appendTo($("#field"))
						$("#" + pieceO.location + "piece")[0].outerHTML = ""

						setTimeout(function(){
							$("#" + pieceO.location + "piece")[0].style.top = rowN
							$("#" + pieceO.location + "piece")[0].style.left= colN

							setTimeout(function(){
								return callback()
							},700)
						},10)
					}
				}
				else{
					return testPiece(oldPieces, newPieces, i + 1, callback)
				}
			}
	body
		#header
			a.nav-button(href='/') home
			a.nav-button(href='/logout') logout
			h.hidden#username= gameId
			div#title
				div#turn-piece
				h1#title-text= ""
			
		#background
		#main
			input.hidden#playerColour(style='position:fixed; top: 100px; left: 10px' type='text' value= playerColour disabled)
			input.hidden#hasTurn(type='text' value="" disabled)
			input.hidden#moveData(form='moveForm' type='text' name='movement' value='hi')
			input.hidden#opponentData(value= opponent)

			div#submitButton= "submit"

			table#lost-red
			table#field
			table#lost-blue