home(lang='en')
	head
		title Darlene Home
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='stylesheet' href='css/style.css')
		link(rel='stylesheet' href='css/homePage.css')
	body
		.header
			a.nav-button(href='/') home
			a.nav-button(href='/logout') logout
		.main
			a.nav-button(href='/getGame/newGame') New Game
			- for(var i=0; i<games; i++){
				a.nav-button(href='/getGame/game' + i)= ("get game " + i)
			- }