home(lang='en')
	head
		title Play Game | Bored Games
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='stylesheet' href='/css/style.css')
		link(rel='stylesheet' href='/css/getGame.css')

		script(type='text/javascript').
			function challenge(gameType){
				document.getElementById(gameType + "ChallengeForm").action="/getGame/" + gameType + "@versus" + document.getElementById(gameType + "Opponent").value

				console.log("/getGame/" + gameType + "@versus" + document.getElementById(gameType + "Opponent").value)
			}
	body
		#header
			a.nav-button(href='/') home
			a.nav-button(href='/logout') logout
			h1#title Start or Choose a Game!
		#background
		#main
			.chess-games
				h2 Chess
				form(id="chessChallengeForm" action="/getGame/" method='get')
					a.nav-button(href='/getGame/chess@newGame') Practice
					h or
					input(id="chessOpponent" type='text' value="")
					input(type='submit' value='Challenge' onclick='challenge("chess")')
					br
					br
					table#chess-games(cellspacing = "0" cellpadding = "0")
						- for(var i=0; i<chess; i++){
							tr
								td.game-name
									h= "Chess game " + i
								td
									a.game-button(href='/getGame/chess@game' + i)= ("Play")
								td
									a.game-button(href='/getGame/chess@delete' + i)= ("Delete")
						- }
			.ships-games
				h2 Battling Ships
				form(id="shipsChallengeForm" action="/getGame/" method='get')
					a.nav-button(href='/getGame/ships@newGame') Practice
					h or
					input(form="shipsChallengeForm" id="shipsOpponent" type='text' value="")
					input(form="shipsChallengeForm" type='submit' value='Challenge' onclick='challenge("ships")')
				- for(var i=0; i<ships; i++){
					a.nav-button(href='/getGame/ships@game' + i)= ("BattlingShips game " + i)
				- }
			br
			br
			